asgiref==3.8.1
Django==5.2
django-admin-thumbnails==0.2.9
django-ckeditor==6.7.2
django-js-asset==3.1.2
django-mptt==0.17.0
greenlet==3.1.1
pillow==11.1.0
six==1.17.0
SQLAlchemy==2.0.40
sqlparse==0.5.3
typing_extensions==4.13.1
tzdata==2025.2
